* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #3498DB;
}

.container {
    width: 80%;
    margin: auto;
    border: 5px solid white;
    overflow: hidden;
    /* position: relative; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider {
    display: flex;
    width: 100%;
    height: 300px;
}

img {
    width: 100%;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
}

@media only screen and (max-width: 600px) {

    #prevBtn{
        position: absolute;
        left: 2%;
    }
    #nextBtn{
        position: absolute;
        right: 2%;
    }
  }